
@{
    ViewData["Title"] = "Заказ оформлен";
}

    <h2>@ViewData["Title"]</h2>

<p>Заказ @ViewBag.OrderId оформлен и передан на обработку</p>
<a asp-area="" asp-controller="Home" asp-action="Index">На главную страницу</a>