@{ 
    Layout = "_LayoutBase";
}

<div class="container">
    @RenderBody()
</div>
    
@section Style
{ 
    @await RenderSectionAsync("Style", false)
}

@section Scripts
{ 
    @await RenderSectionAsync("Scripts", false)
}
