
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <hr />
    <h1>Первое представление!</h1>
    <hr />
    <a href="/home/readconfig">Config</a>
</body>
</html>
