<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/" rel="stylesheet" />
</head>
<body>
    <hr />
    <h1>Первое представление!</h1>
    <hr />
    <ul>
        <li><a href="/home/readconfig">Config</a></li>
        <li><a href="/employeslist">EmployesList</a></li>
    </ul>
</body>
</html>
